<form action="/addContact" method="POST">
    <input type="text" name="name" placeholder="Enter Name">
    <input type="text" name="email" placeholder="Enter Email">
    <input type="text" name="number" placeholder="Enter Number">
    <input type="submit" value="submit" class="btn waves-effect waves-light">
</form>
{{!-- 

<form action="/addPet" method="POST">
    <div id="UpForAdoptPetForm">
        <input type="text" name="petName" placeholder="Pet Name">
        <h3>Up for adoption?</h3>
        <div class="switch petFormSwitch">
            <label>
                No
                <input type="checkbox">
                <span class="lever"></span>
                Yes
            </label>
        </div>
    </div>
    <div id="CategoryPetForm">
        <h3>Category</h3>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" checked />
                <span>Dog</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>Cat</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>Equine</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" />
                <span>Small animal</span>
            </label>
        </p>
    </div>
    <div class="input-field" id="BreedPetForm">
        <h3 for="breed">Breed</h3>
        <input placeholder="German Shepard" id="breed" type="text" class="validate">
    </div>

    <div class="input-field" id="SpeciesPetForm">
        <h3 for="species">Species</h3>
        <input placeholder="Rabbit" id="breed" type="text" class="validate">
    </div>

    <div id="SizePetForm">
        <h3>Size</h3>
        <p>
            <label>
                <input class="with-gap" name="group2" type="radio" checked />
                <span>small</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group2" type="radio" />
                <span>medium</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group2" type="radio" />
                <span>large</span>
            </label>
        </p>
    </div>

    <h3>hypoallergenic?</h3>
    <div class="switch petFormSwitch" id="hypoPetForm">
        <label>
            No
            <input type="checkbox">
            <span class="lever"></span>
            Yes
        </label>
    </div>
    <div class="row">
        <h3>Description</h3>
        <div class="input-field col s12">
            <textarea id="textarea1" placeholder="Description" class="materialize-textarea"></textarea>
        </div>
    </div>



    <input type="submit" value="submit" class="btn waves-effect waves-light">
</form> --}}