<div class="row footer valign-wrapper">
    <div class="col s4">

    </div>
    <div class="col s4">
        
    </div>
    <div class="col 4">
        <a href="/about"><img class="charlieImgFooter" src="/assets/CharlieSitting2.svg" alt="dog character"></a>
    </div>
</div>