<div class="row footer valign-wrapper">
    <div class="col s12 l3">
        <h3 class="footerHeader">Get in touch</h3>
        <hr class="footerDivider">
        <br>
        <p>Email us at:</p>
        <p>hello@rescuelife.co.uk</p>
    </div>
    <div class="col s12 l3">
        <h3 class="footerHeader">More Info</h3>
        <hr class="footerDivider">
        <br>
        <p>RescueLife BLog</p>
        <p>RescueLife Info Pages</p>
    </div>
    <div class="col s12 l3">
        <h3 class="footerHeader">Follow us</h3>
        <hr class="footerDivider">
        <br>
         <img class="socialIcon" src="/assets/socialIcons.png" alt="socialIcons">

    </div>
    <div class="col s12 l3">
        <a href="/about"><img class="charlieImgFooter" src="/assets/CharlieSitting2.svg" alt="dog character"></a>
    </div>
</div>