<div class="full-width">
    <img class="headerImage" src="/assets/horse.jpg" alt="image of horse">
</div>




<div class="row navbar">
    <ul id="nav-mobile">
        <li><a class="menuLink" href="dashboard">Rescues</a></li>
        <li><a class="menuLink" href="social">Social</a></li>
        <li><a class="menuLink" href="userProfile">My Profile</a></li>
        <li><a class="menuLink" href="explore">Explore</a></li>
        <li><a class="signOut" href="/signout">Sign Out</a></li>
    </ul>
</div>