
{{#if petsExist}}
{{#each pets}}



<div id="petProfileContainer">

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


{{/each}}
{{else}}
<h1>No pets</h1>
{{/if}}