<div class="messageContainer"></div>
{{!-- for each loop --}}
{{#if petsExist}}
{{#each pets}}

    {{!-- <div class="col s3 "> --}}
        <div class="card petDashCard">
            {{!-- <div class="card-content black-text"> --}}
                <span class="card-title">{{this.petName}}</span>
                {{!-- <p>{{this.email}}</p>
                <p>{{this.number}}</p> --}}
            {{!-- </div> --}}
        </div>
    {{!-- </div> --}}

{{/each}}
{{else}}
<h1>No pets</h1>
{{/if}}