<h3>Sign Up</h3>
{{#if userExist}}
    <div class="card-panel red">
        <span class="card-title ">User Already Exists</span>
    </div>
{{else}} {{#if userDoesNotExist}}
  <div class="card-panel green">
        <span class="card-title ">User Created, hooray!!!</span>
    </div>
{{/if}}{{/if}}

<form action="/signup" method="POST">
    <input type="text" name="username" id="username" placeholder="Enter username/email">
    <input type="password" name="password" id="password" placeholder="Enter password">
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
    <input type="submit" value="submit" id="signUpSubmit" class="btn waves-effect waves-light">
</form>