<div class="container signUpForm">
    <h1 class="title">Sign Up</h1>

    {{#if userExist}}
    <div class="errorAlert">Oh no, email in use!</div>
    {{else}} {{#if userDoesNotExist}}
    <div class="successAlert">Woohoo, user created!</div>
    {{/if}} {{/if}}
    {{!-- <div class="input-field"> --}}
        <form action="/signup" method="POST">
            <div class="hiddenUsernameErrorAlert">Email Required
            </div>
            <div class="hiddenPasswordErrorAlert">Passwords Don't Match
            </div>
            {{!-- <input class="input-field" type="text" name="name" id="name" placeholder="Enter name"> --}}
            <input class="input-field" type="text" name="logInUsername" id="usernameField" placeholder="Enter username/email">
            <input class="input-field" type="password" name="password" id="passwordSignUp" placeholder="Enter password">
            <input class="input-field" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <br>
            <br>
            <input type="submit" value="submit" id="signUpSubmit" class="btn">
        </form>
        {{!--
    </div> --}}
</div>