
{{> header}}

<div class="container">
    <h1>About RescueLife</h1>
    <p >RescuseLife is a project designed to help those in need,
by improving a promoting the adoption proccess. My inspiration for 
this project was my childhood rescue dog, who changed my perspective 
on recuse pets and made me passionate about animal welfare. 
Thats why I wanted him to pet part of RescueLife in some way. 
Although not including him in the main application I thought having a 
little space to sit in the footer brought that peronasliation to the site. 
    </p>

<img class="aboutPageImage" src="/assets/Charlie.jpg" alt="Charlie">


</div>


{{> footer}}

