{{!-- <h1>RescueLife</h1> --}}
{{> header}}
<div class="contentContainer">
    {{!-- <div class="card-panel filterBar">
        <span>Filters</span>
        <span><Button>button</Button></span>
    </div> --}}


    <ul class="collapsible">
        <li>
            <div class="collapsible-header filtersPanel"><span> Account Filters</span></div>

            <div class="collapsible-body">
                <div class="row">
                    <div class="col s3">
                        <div class="card-panel dogs">
                            <div class="row">
                                <div class="col s6">
                                    <span>Dogs</span>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input id="dogSwitch" name="dogSwitch" onclick="dogValidate()"
                                                type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="card-panel cats">
                            <div class="row">
                                <div class="col s6">
                                    <span>Cats</span>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input id="catSwitch" name="catSwitch" onclick="catValidate()"
                                                type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="card-panel equines">
                            <div class="row">
                                <div class="col s6">
                                    <span>Equines</span>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input id="equineSwitch" name="equineSwitch" onclick="equineValidate()"
                                                type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="card-panel others">
                            <div class="row">
                                <div class="col s6">
                                    <span>Other</span>
                                </div>
                                <div class="col s6">
                                    <div class="switch">
                                        <label>
                                            <input id="otherSwitch" name="otherSwitch" onclick="otherValidate()"
                                                type="checkbox">
                                            <span class="lever"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

</div>
</li>
</ul>

</div>

<div class="container">
    {{> petsList}}
</div>


<br>
<br>
<br>

 {{> footer}}

