<div class="container">
    <div class="row loginPage">
        <div class="col s6">
            {{> signinForm}}
        </div>
        <div class="col s6">
            {{> signupForm}}
        </div>
    </div>
</div>
