 <img class="logo" src="/assets/logoOnWhite.png" alt="RescueLife Logo">



<div class="container">
    <div class="row loginPage">
        <div class="col s6">
            {{> signinForm}}
        </div>
        <div class="col s6">
            {{> signupForm}}
        </div>
    </div>
</div>


<img class="charlieImg" src="/assets/CharlieSitting2.svg" alt="dog character">
<img class="charlieImg2" src="/assets/CharlieSitting2Happy.svg" alt="dog character">

