{{> header}}

<div class="container">
    <div class="row">
        <div class="col s6">
            <h1 class="title">Add A Pet</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{> petsForm}}
            <br>
            <br>
        </div>
    </div>
</div>