{{!-- <h1>RescueLife</h1> --}}
{{> header}}
<div class="profileHeader">
    <div class="container">
        <h1 class="title">{{name}}</h1>
        <h3 class="formTitles">{{username}}</h1>
    </div>
</div>






<div class="container">
    <div class="row">
        <div class="col s6">
            <h1 class="title">Enter Pet</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{> petsForm}}
            <br>
            <br>
        </div>
    </div>
</div>