{{> header}}

<div class="container">
    <div class="card socialCard">
        <div>
            <img class="socialImage" src="/assets/DogOnBeach.png" alt="image of dog">
            <h1 class="socialTitle">Sandy</h1>
            <p class="socialText">Digging holes in the sand on beach day!</p>
        </div>
    </div>

    <div class="card socialCard">
        <div>
            <img class="socialImage" src="/assets/goatImage.png" alt="image of dog">
            <h1 class="socialTitle">Olive</h1>
            <p class="socialText">We let Olive free range of the farm, mostly beacuse she can't be contained!</p>
        </div>
    </div>

    <div class="card socialCard">
        <div>
            <img class="socialImage" src="/assets/LizardImage.png" alt="image of dog">
            <h1 class="socialTitle">Greenie</h1>
            <p class="socialText">Such an elegent little lady</p>
        </div>
    </div>
</div>


<div class="promoDiv">
    <img class="promoImage" src="/assets/JasperImage.png" alt="image of cat">
    <div class="card promoCard">
        <h1 class="socialTitle">Jasper</h1>
        <p>Needs a home</p>
        <button>Find out more</button>
    </div>
</div>



<div class="container">




    <div class="card socialCard">
        <div>
            <img class="socialImage" src="/assets/horseImage.png" alt="image of dog">
            <h1 class="socialTitle">Lila</h1>
            <p class="socialText">Lila is doing so well, went on a long hack today with some friends.
                Can't believe how far shes come, almost a year ago today we
                rescued her from certain death! </p>
        </div>
    </div>


    <div class="card socialCard">
        <div>
            <img class="socialImage" src="/assets/dogImage.png" alt="image of dog">
            <h1 class="socialTitle">Rusty</h1>
            <p class="socialText">Went for a beach walk today, sunset made for some great pictures</p>
        </div>
    </div>

    <div class="card socialCard">
        <div>
            <img class="socialImage" src="/assets/catImage.png" alt="image of dog">
            <h1 class="socialTitle">Misty</h1>
            <p class="socialText">Toes beans!! Got to be one of the cutest things in the world!</p>
        </div>
    </div>

</div>

{{> footer}}

